header{
    display:inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    background-color: #2c2b2b;
    color: #228B22;
    font-family: monospace;
    font-size: larger;
}
header h1{
    padding-left: 200px;
}
header h3{
    padding-right: 100px;
}
body{
    background-color: #333333;
}

#name{
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}


.sudoku_grid{
    display: flex;
    flex-direction: row;
    max-width: 578px;
    flex-wrap: wrap;

    margin: 10px auto ;
}

.sudoku_grid div{
    display:  flex;
    align-items: center;
    justify-content: center;
    
    width: 60px;
    height: 60px;
    color: white;
    font-size: 40px;

    box-sizing: border-box;
}

.Buttons{   
    display: flex;
    justify-content: center;
    width: 100%;    
    margin-bottom: 80px;
}

#GetPuzzle,#SolvePuzzle{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color:chocolate;
    padding: 10px 35px;
    font-size: 24px;
    border: 1px solid silver;
    font-family: monospace;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
    margin-right: 10px;
    border-radius: 12px;
    cursor: pointer;
}
#GetPuzzle:hover,#SolvePuzzle:hover{
    background-color: rgb(177, 78, 7);
}

.box1{
    background-color: sandybrown;
    border: 2px solid  white;
}

.box1:hover{
    background-color: rgb(214, 113, 24);
    color: black;
}

.box2{
    background-color: #BC5448;
    border: 2px solid  white;
}
.box2:hover{
    background-color: red;
}

.box3{
    background-color: teal;
    border: 2px solid  white;
}
.box3:hover{
    background-color: #3Ded97;
    color: black
}

.bl{
    border-left: 4px solid black;
}

.bb{
    border-bottom: 4px solid black;
}

.br{
    border-right: 4px solid black;
}

.bt{
    border-top: 4px solid black;
}